button {
    padding: 20px 100px;
    transition: transform 0.25s, opacity 0.1s;
    background-color: hsl(0, 0%, 95%);
    margin: 10px 0px 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.08);
    opacity: 0.7;
}

.correto {
    background-color: green;
}

.errado {
    background-color: red;
}