        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f8f5;
        }


        footer {
            background-color: #2e8b57;
            color: white;
            text-align: center;
            padding: 1%;
            font-size: 200%;
        }

        header {
            background-color: #2e8b57;
            color: white;
            display: flex;
            align-items: center;
            padding: 2%;
        }

        .main-nav {
            background-color: #3cb371; /* A slightly different green for contrast */
            padding: 1.5% 0;
            display: flex;
            justify-content: center; /* Centers the items horizontally */
            gap: 3%; 
        }

        .main-nav a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 1% 2%;
            border-radius: 0.5%;
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
        }

        .main-nav a:hover {
            background-color: #2e8b57; /* Darker green on hover */
        }

        .logo {
            width: 10%;
            height: auto;
            margin-right: 2.5%;
        }

        .textos {
            display: flex;
            flex-direction: column; /* deixa um texto embaixo do outro */
        }

        .textos h1 {
             margin: 0;
            font-size: 200%;
        }

        .textos p {
            margin-top: 0.625rem; 
            font-size: 150%;
        }

<<<<<<< HEAD
        .texto-abaixo {
            margin-top: 1.25rem; 
            font-size: 125%;
        }
=======

        
>>>>>>> 4d4160acdaea81f853d9be945a6adefc6c412929
